.extra5 {
    height: 10vw;
    width: 100%;
    background-image: url(../zen-garden-page/files/chairs.svg);
    position: fixed;
    bottom: -2vw;
    z-index: 100;
}


@media screen and (max-width: 900px) { 
    
}