body {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 24% 50% 24%;
    //grid-template-rows: 25% 50%;
    grid-column-gap: 1%;
}

.intro {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

.main {
    grid-column: 2;
    grid-row: 2;
}

.sidebar {
    grid-column: 3;
    grid-row: 2;
}

.page-wrapper::before, .page-wrapper::after {
    grid-column: 1;
    grid-row: 2;
}

