body {
    margin: 0 auto;
    padding: 0;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50%;
    grid-gap: 20px;
}

.preamble {
    display: contents;
    grid-column: 1;
    grid-row: 2
}

.intro {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

.main {
    grid-column: 2;
    grid-row: 2;
}

.sidebar {
    grid-column: 3;
    grid-row: 2;
}
