.sidebar {
    background-image: url(/zen-garden-page/files/curtain-02.svg);
}

.wrapper {
    padding: 20px;
}

.design-selection {
    background-color: #cccc00;
    border: 5px solid #3A0404;
}

.design-archives {
    background-color: #cccc00;
    border: 5px solid #3A0404;
}

.zen-resources {
    background-color: #cccc00;
    border: 5px solid #3A0404;
}
