.intro {
    background-image: url(/zen-garden-page/files/curtain-02.svg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #cccc00;
    border: 10px solid #3A0404;
    height: 80%;
    order: 1;
    width: 25vw;
    margin: 0px 3vw;
}

.summary {
    order:1;
    background-color: #cccc00;
    border: 10px solid #3A0404;
    max-width: 30vw;
    margin-right: 1vw;
}

.preamble {
    background-color: #cccc00;
    border: 10px solid #3A0404;
    max-width: 30vw;
    margin-left: 1vw;
}

h1 {
    font-size: 3.5em;
}