.intro {
    background-image: url(/zen-garden-page/files/curtain-03.svg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.intro a {
    z-index: 5;
    position: relative;
}

header {
    background-color: #cccc00;
    border: 10px solid #3A0404;
    height: 80%;
    order: 1;
    width: 25vw;
    margin: 0px 3vw;
    position: relative;
    z-index: 2;
}

.summary {
    order: 1;
    background-color: #cccc00;
    border: 10px solid #3A0404;
    max-width: 30vw;
    margin-right: 1vw;
    position: relative;
    z-index: 2;
}

.preamble {
    background-color: #cccc00;
    border: 10px solid #3A0404;
    max-width: 30vw;
    margin-left: 1vw;
    position: relative;
    z-index: 2;
}



.preamble>p{
    font-size: 0.8em;
}

h1 {
    font-size: 3.5em;
}

// Dirty textures
.intro::after {
    content: "";
    background-image: url(/zen-garden-page/files/dirt.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .6;
}

.summary::after {
    content: "";
    background-image: url(/zen-garden-page/files/poster.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .5;
}

.preamble::after {
    content: "";
    background-image: url(/zen-garden-page/files/poster2.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .3;
}

header::after {
    content: "";
    background-image: url(/zen-garden-page/files/poster.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .2;
}

@media screen and (max-width: 800px) 
{ 
  h1 { 
    font-size: 0.8em; 
}

    h2{
        font-size: 0.6em;
    }
.preamble>p {
    display: none;
}

.summary p:nth-child(1){
    display:none;
}    

}


@media screen and (max-width: 1000px){
    h1{
        font-size: 2em;
    }
    .preamble>p {
        display: none;
    }
    .summary p:nth-child(1){
        display:none;
    }    
}


