@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

$primary-font: 'Oxanium', sans-serif;
$secondary-font: 'Noto Sans', sans-serif;



h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font; 
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}


h2 {
  font-size:2em;
}


p {
  font-family: $secondary-font;
  font-size: 1em;
}

  a {
    font-size: 1.3em;
  }
