@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

$primary-font: 'Oxanium', sans-serif;
$secondary-font: 'Noto Sans', sans-serif;
$body-copy-color: #3A0404;
$header-color: #5F5B4B;
$link-color: #8e8e8e;


h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font; 
  color: $header-color;
  list-style-type: none;
}

body{
  color: $body-copy-color;
}

p {
  font-family: $secondary-font;
}

ul {
    list-style-type: none;
}

ul li a {
  color:$link-color;
}

p a{
  text-decoration: none;
  color:$link-color;
}



